[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
tqdm = "*"
ntplib = "*"
auto-apply = {file = "."}
build = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = ">=3.11.1"
